<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">

	<!-- 사용자 CSS 추가 -->
	<th:block layout:fragment="css">
		<link th:href="@{/assets/css/my-login.css}" rel="stylesheet" />
	</th:block>
		
	<!-- 사용자 스크립트 추가 -->
	<th:block layout:fragment="script">
	</th:block>

	<div layout:fragment="content" >
		<nav th:replace="/fragments/navbar :: navbarFragment('regist')"></nav>
		<nav th:replace="/fragments/intro :: introFragment('> Regist')"></nav>
		
		<!-- section contact -->
		<section id="contact" class="section">
			<!-- <div class="container">
				<div class="row">
					<div class="span12">
						<div class="heading">
							<h3><span>Get in touch</span></h3>
						</div>
						<div class="sub-heading">
							<p>
								Lorem ipsum dolor sit amet, mutat paulo simul per no, assum fastidii vituperata eam no.
							</p>
						</div>
					</div>
				</div>
			</div> -->

			<div class="container">
				<div class="row">
					<div class="span12">
						<h4><i class="icon-edit"></i><strong>Regist form</strong></h4>
						<p>
							This page is for membership. Please enter your ID, password and name correctly.
						</p>
						<!-- start login form -->
						<div class="my-login-page">
							<div class="card-wrapper">
								<div class="card fat">
									<div class="card-body">
										<h4 class="card-title">Register</h4>
										
										<form action="#" th:action="@{/regist/post}" th:object="${member}" method="post">
											<div class="form-group">
												<label for="email">E-Mail Address <span>*</span></label>
												<input type="email" th:field="*{uemail}" class="form-control" placeholder="Your Email"></input>
												<span th:if="${#fields.hasErrors('uemail')}" th:errors="*{uemail}">Content Error</span>
											</div>
											<div class="form-group">
												<label for="uname">Name <span>*</span></label>
												<input type="text" th:field="*{uname}" class="form-control" placeholder="Your Name"></input>
												<span th:if="${#fields.hasErrors('uname')}" th:errors="*{uname}">Content Error</span>
											</div>
											<div class="form-group">
												<label for="upw">Password <span>*</span></label>
												<input type="password" th:field="*{upw}" class="form-control" placeholder="Your Password"></input>
												<span th:if="${#fields.hasErrors('upw')}" th:errors="*{upw}">Content Error</span>
											</div>
			
											<div class="form-group no-margin">
												<button type="submit" class="btn btn-primary btn-block">
													Register
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- end login form -->
					</div>
				</div>
			</div>
		</section>
		<!-- end section contact -->
	</div>
</html>
		