html,body {
	height: 100%;
}

div.my-login-page {
	width: 100%;
	text-align: center;
	background-color: #f7f9fb;
	font-size: 14px;
	padding : 20px 0 20px 0;
}

.my-login-page .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
	margin: 40px auto;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	display: inline-block;
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
	background-color : #fff;
}

.my-login-page .card.fat {
	padding: 30px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
	text-align : left;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

.my-login-page .form-control {
	border-width: 2.3px;
	width: 93%;
	padding: .5rem .75rem;
	margin-bottom: 1rem;
}

.my-login-page .form-group label {
	width: 100%;
	text-align : left;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .margin-top20 {
	margin-top: 20px;
}

.my-login-page .no-margin {
	margin: 0;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}
